body {
    margin:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h1{
    color:#464646;
    font-style:italic;
    font-weight:300;
    text-align:center;
}
.guestlist_search_holder {
    width: 35%;
    background: #2f2f2f;
    margin: 0 auto;
    text-align: center;
}
/**SEARCH BAR AREA**/
.search_div {
    border-bottom: 0.1em solid #fff;
    padding: 1em 1.25em;
}
.search_bar {
    background: #464646;
    padding:0.75em 0.45em;
    border-radius:5px;
    display:inline-block;
}

    .search_bar input {
        width:75%;
        font-size:1.35em;
        font-weight:100;
        background: #464646;
        color:#fff;
        border:none;
    }
    
    .search_bar ::placeholder, .search_bar ::-webkit-input-placeholder {
        color: #fff;
    }

    .search_bar img{
        width:2em;
        display:inline;
        vertical-align:bottom;
    }
    .search_bar img:hover {
        cursor:pointer;
    }
/**GUEST LIST RESULTS**/
.guestlist_div {
    background: #2f2f2f;
    padding: 1em 0;
}
    .guestlist_div > p {
        font-size: 1.2em;
        color: #fff;
        text-align: left;
        margin: 1em 0.5em;
    }
    .guestlist_div ul {
        padding:0;
    }
.guestlist_div ul li{
    color:#fff;
    text-align:left;
    list-style:none;
    margin:0.7em 0.125em;
    padding:0.65em 0.5em;
}
    .guestlist_div ul li:hover {
        cursor:pointer;
        background: #464646;
    }
    .guestlist_div ul li p {
        display: inline;
    }
        .guestlist_div ul li span {
        background:#fff;
        padding: 0.1em 0.55em;
        border-radius:60%;
        margin:0 0.5em;
    }
        .mobile{
            font-size:0.7em;
            font-style:italic;
            float:right;
            padding-right:0.5em;
        }
@media (max-width: 49.938em) { /*Tablets*/

    .guestlist_search_holder {
        width: 50%;
    }
}

@media (max-width: 30em) { /*Smartphones*/
    .guestlist_div ul li {
        color: #fff;
        text-align: left;
        list-style: none;
        margin: 0.15em 0.105em;
        padding: 0.25em 0.1em;
    }

    .guestlist_search_holder {
        width: 85%;
    }
}

/**
 ** GUEST DETAILS CARD
 **/
.guest_details_holder {
    width: 35%;
    background: #f0f0f0;
    overflow: hidden;
    margin: 0 auto 4em auto;
    border-radius: 0.5em;
    box-shadow: 0px 2px rgba(70, 70, 70, 0.25);
    transition: visibility 0s, opacity 0.5s linear;
}
.details_head{
    width:100%;
    padding:2em 1em;
    border-bottom:1px #2f2f2f solid;
    display:inline-block;
}
    .details_head span {
        background: #fff;
        padding: 0.85em 1.5em;
        border: #f0f0f0 0.1em solid;
        border-radius: 60%;
        margin-right: 0.5em;
    }
    .details_head table {
        display: inline;
        width: 70%;
    }
    .details_head .description{
        font-style:italic;
        font-weight:300;
        font-size:0.8em;
    }

.guest_contact_div{
    padding:0.75em;
}
.guest_contact_div h3{
    font-size:1em;
}
    .guest_contact_div input{
        background:#f0f0f0;
        border:none;
        border-bottom:0.1em #000 solid;
        width:90%;
        margin:2em auto 0.5em auto;
        display:block;
    }
    .guest_contact_div ::placeholder, .guest_contact_div ::-webkit-input-placeholder {
        color: #000;
    }

.guest_contact_div p{
    font-size:0.75em;
    text-align:right;
    cursor:pointer;
}

    .guest_contact_div p img{
        width: 0.75em;
        text-align: right;
    }
@media (max-width: 49.938em) { /*Tablets*/
    .guest_details_holder {
        width: 50%;
    }
}
@media (max-width: 30em) { /*Smartphones*/
    .guest_details_holder {
        width: 85%;
    }
}

/**
 ** ANIMATE FADE IN AND OUT
 **/
.hide {
    display: none;
    opacity: 0;
    visibility: hidden;
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
}
.show {
    visibility: visible;
    opacity: 1;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 2s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
/**
 ** MESSAGE BAR
 **/
.msg_bar{
    background:#43815d;
    color:#fff;
    width:35%;
    text-align:center;
    margin:0 auto;
    font-size:1.15em;
    padding:0.5em 0;
}
.warning{
    background:#af593a;
}
@media (max-width: 48em) { /*Tablets*/
    .msg_bar {
        width: 50%;
    }
}
@media (max-width: 30em) { /*Smartphones*/
    .msg_bar {
        width: 85%;
    }
}